<html>
<head>
	<title></title>
</head>
<body>
	<style>
th {
  border: 0.5px solid black;

}
p{
	font-size: 14px;
	text-align: justify;
}

.fecha{
	font-size: 17px;
	display: inline;
	right: 
}



</style>
	<header id="header" style="center">
		<table>
  <tr>
    <th><h3>CENTRO DE TRABAJO EJIDO MIGUEL ALEMAN</h3>
    <h4>EJIDO MIGUEL ALEMAN  MPIO.  DE SUCHIATE, CHIAPAS</h4>
    </th>
  </tr>

</table>
	</header>
<br>
<br>
<br>
<br>
<br>
<p id="fecha"><b>FECHA ACTUAL: {{fecha}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="text-acta">ACTA ADMINISTRATIVA</b></p>


</p>
<br>
<br>
<br>
<br>

<p>Por medio del presente escrito se levanta la acta administrativa al C. {{trabajador.nombres}}, ya que en el reglamento interno del centro de trabajo EJIDO MIGUEL ALEMAN, se plasman  las sanciones pertinentes, a la falta
o incumplimiento del mismo, el motivo pr el cual se levanta a presente acta es por lo siguiente: Por no asistir 
a sus labores del dia 17 de septiembre del presente año sin ninguna justificacion o notificacion, quedando plastama 
que esta es la primera acta administrativa con la cual ha sido sancionada, si en el dado caso hubiera reincidencia se procedera con una segunda acta y suspension de sus labores de forma temporal o si es el caso, finalizacion del acuerdo laboral.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="center"><b>ATENTAMENTE</b></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<u  style="float:left; padding-left:300px;">___________________________________</u>
<u  style="float:right; padding-right:300px;">_________________________________</u>
<br>
<p style="display:inline; float:right; padding-right:180px;">NOMBRE Y FIRMA DEL JEFE DE AREA</p>
<p style="display:inline; padding-left:180px;">PERSONA SANCIONADA</p>



</body>
</html>