{% extends 'indexAdmin.html' %}
{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Agregar Empleado</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row">

                                    {% csrf_token %}
                                    {% if error %}
                                        <h1>{{ error }}</h1>

                                    {% else %}

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.nombres }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.apellidoPaterno }}
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.apellidoMaterno }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.edad }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.fechaNacimiento }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.numeroSeguroSocial }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.curp }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.rfc }}
                                            </div>
                                        </div>
                                        <div class="col-md-4"><br>
                                            <div class="form-group">
                                                {{ form.estadoCivil }}
                                            </div>
                                        </div>
                                        <div class="col-md-4"><br>
                                            <div class="form-group">
                                                {{ form.nacionalidad }}
                                            </div>
                                        </div>

                                        <div class="col-md-4">Área o Puesto
                                            <div class="form-group">
                                                 {{ form.area }}
                                             </div>
                                        </div>

                                       {% comment %} <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.labor }}
                                            </div>
                                        </div>{% endcomment %}

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.telefono }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.celular }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.correoElectronico }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">

                                                {{ form.imagen}}

                                        </div>

                                        <div class="col-md-12"><br>
                                            <div class="form-group">
                                                {{ form.direccion }}
                                            </div>
                                        </div>
                                        <br><br><br>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ciudad }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{form.colonia}}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{form.codigoPostal}}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                {{form.estado }}
                                            </div>
                                        </div>


                                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock contenido %}