{% extends 'indexAdmin.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <title>Surbananas - Areas</title>
{% endblock title%}
{% block contenido %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">LISTA DE AREAS</h4><br>
                <input class="form-control border-bottom-success" id="myInput" type="text" placeholder="Buscar...">
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    {% if areas %}
                        <table  class="table table-striped table-bordered nowrap dataTable table-hover" style="width:100%">

                            <thead class=" text-primary" >
                            <th>ID</th>
                            <th>Area</th>
                            <th>Labor</th>
                            <th>Actividad</th>
                            <th>Tipos De Riesgo</th>
                            <th>Región Anatomica</th>
                            <th>EPP a Utilizar</th>
                            <th>Fecha de Registro</th>
                            <th>ACCIONES</th>

                            </thead>
                            <tbody id="myTable">
                            {% for c in areas %}
                                <tr>
                                    <td> {{ c.id }} </td>
                                    <td> {{ c.fase}} </td>
                                    <td> {{ c.puesto}} </td>
                                    <td> {{ c.actividad }} </td>
                                    <td> {{ c.tiposRiesgo }} </td>
                                    <td> {{ c.regionAnatomica }} </td>
                                    <td> {{ c.eppUtilizar }} </td>

                                    <td> {{ c.created_at }} </td>
                                    <td>
                                       
                                        <a href="{% url 'editarAreas' c.id %}" class="badge badge-warning">EDITAR</a>
                                        <a href="{% url 'eliminarAreas' c.id %}" class="badge badge-danger">ELIMINAR</a>
                                        
                                    </td>
                                  
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>NOT FOUND</h1>
                        </div>
                    {% endif %}
            </div>


        </div>
    </div>


    </html>
{% endblock contenido %}