{% extends 'indexAdmin.html' %}
{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title m-0 font-weight-bold text-primary">CREAR ACTA ADMINISTRATIVA</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST">{% csrf_token %}
                                <div class="row">

                                   
                                    {% if error %}
                                        <h1>{{ error }}</h1>

                                    {% else %}


                                    <div class="col-md-4"></br>
                                 
                                        {{form.codigoEmpleado}}
                                </div> 

                                        {{form.totalfaltas}}
                                         <div class="col-md-4"></br>
                                                <div class="form-group">
                                                    <input type="text" name="jefe" value="" placeholder="NOMBRE JEFE AREA" class="form-control">
                                                </div>
                                        </div> 
                                        <div class="col-md-4">
                                        
                                                <div class="form-group"><br>
                                                    
                                                    <select id="my-select" class="form-control" name="falta">
                                                        <option value="">::::::::::::::::::::::::::::::::::::::::::::::::::::.</option>
                                                        <option value="1">FALTA INJUSTIFICADA</option>
                                                        <option value="2">INCUMPLIR REGLAMENTO</option>
                                                        <option value="3">FALTA DE RESPETO</option>
                                                        <option value="4">USAR INDADE.EPP</option>
                                                        <option value="5">PRESENT. INFLUE. ESTUPEFACIENTES</option>
                                                        <option value="6">RESTARDOS CONSTANTES</option>
                                                    </select>
                                                </div>
                                        </div>
                                           
                                        <div class="col-md-12" align="center">
                                            <div class="form-group">
                                                    <button type="submit"  formaction="Gincidencia"
                                                    class="btn btn-block btn-success pull-right">GENERAR PDF</button>
                                                <button type="submit"
                                                 class="btn btn-block btn-success pull-right">GENERAR INCIDENCIA</button>
                                                 
                                            </div>
                                        </div>


                                        <div class="clearfix"></div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock contenido %}