{% extends 'indexAdmin.html' %}
{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title m-0 font-weight-bold text-primary"> CREAR PLAN ANUAL</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row">

                                    {% csrf_token %}
                                    {% if error %}
                                        <h1>{{ error }}</h1>

                                    {% else %}


                                        <div class="col-md-12 m-0">
                                                <label for="label"class="form-label">TEMA(S)</label>
                                                {{ form.tema }}
                                            
                                        </div>

                                        <div class="col-md-12">
                                            <label for="label" class="form-label">OBJETIVO E.</label>
                                            <div class="form-group">
                                                {{form.objetivoe}}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="tema" class="form-label">CONTENIDO DE LOS TEMAS</label>
                                            <div class="form-group">
                                                {{form.contenido}}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="label" class="form-label">TECNICAS</label>
                                            <div class="form-group">
                                                {{form.tecnicas}}
                                            </div>
                                        </div>
                                            <div class="col-md-12">
                                                    <label for="label" class="form-label">AQUIEN VA DIRIGIDO</label>
                                                    <div class="form-group">
                                                        {{form.dirigidoaquien}}
                                                    </div>

                                        </div>

                                        <div class="col-md-12">
                                            <label for="label" class="form-label">DURACION</label>
                                            <div class="form-group">
                                                {{form.duracion}}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="label" class="form-label">DIRIGIDO</label>
                                            <div class="form-group">
                                                {{form.dirigido}}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="label"class="form-label">OBJETIVO G</label>
                                            <div class="form-group">
                                                {{form.objetivoG}}
                                            </div>
                                        </div>

                                       
                                      
                                       
                                        <div class="col-md-12" align="center">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-block btn-success pull-right">Guardar</button>
                                            </div>
                                        </div>


                                        <div class="clearfix"></div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock contenido %}