{% extends 'indexAdmin.html' %}
{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Agregar Capacitación</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row">

                                    {% csrf_token %}
                                    {% if error %}
                                        <h1>{{ error }}</h1>

                                    {% else %}

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.temaCapacitacion }}
                                            </div>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.tipoCapacitacion }}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form.descripcionCapacitacion }}
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock contenido %}