{% extends 'base.html' %}
{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Editar Empleado</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row">
                                    {% csrf_token %}
                                    {% if empleadosE %}

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Nombres</label>
                                                {{empleadosE.nombres }}
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Apellido Paterno</label>
                                                 {{ empleadosE.apellidoPaterno }}
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Apellido Materno</label>
                                                {{empleadosE.apellidoMaterno }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Edad</label>
                                                 {{ empleadosE.edad }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Fecha de Nacimiento</label>
                                                 {{ empleadosE.fechaNacimiento }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Seguro social</label>
                                                 {{ empleadosE.numeroSeguroSocial }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Curp</label>
                                              {{ empleadosE.curp }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">RFC</label>
                                               {{ empleadosE.rfc }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="inputState" class="bmd-label-floating">Estado civil</label>
                                                 {{ empleadosE.estadoCivil }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="inputState" class="bmd-label-floating">Nacionalidad</label>
                                                {{ empleadosE.nacionalidad }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Area</label>
                                                 {{ empleadosE.area }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Labor</label>
                                                {{ empleadosE.labor }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Telefono</label>
                                                 {{ empleadosE.telefono }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Celular</label>
                                                 {{ empleadosE.celular }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Correo Electronico</label>
                                                 {{ empleadosE.correoElectronico }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1" >Cargar Imagen</label>
                                                {{ empleadosE.imagen }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Dirección</label>
                                                {{ empleadosE.direccion }}
                                            </div>
                                        </div>
                                        <br><br><br>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ciudad</label>
                                                {{ empleadosE.ciudad }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Colonia</label>
                                                {{ empleadosE.colonia }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Codigo Postal</label>
                                                {{ empleadosE.codigoPostal }}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Estado</label>
                                                {{ empleadosE.estado }}
                                            </div>
                                        </div>





                                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock contenido %}