{% extends 'indexAdmin.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <title>Surbananas - empleados</title>
{% endblock title%}
{% block contenido %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">LISTA DE EMPLEADOS</h4><br>
<!--                <input class="form-control border-bottom-primary" id="myInput" type="text" placeholder="Buscar...">-->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if empleados %}

                        <table id="dataTable" class="table table-striped table-bordered nowrap" style="width:100%">


                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Edad</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Número de Seguro Social</th>
                            <th>CURP</th>
                            <th>RFC</th>
                            <th>Estado Civil</th>
                            <th>Nacionalidad</th>
                            <th>Fase</th>
                            <th>Area o Puesto</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>Correo electronico</th>
                            <th>Drección</th>
                            <th>Ciudad</th>
                            <th>Colonia</th>
                            <th>Codigo Postal</th>
                            <th>Estado</th>
                            <th>Imagen</th>
                            <th>Fecha de Ingreso</th>
                            <th>ACCIONES</th>
                            <!-- <th>ACCIONES/ELIM</th> -->

                            </thead>
                            <tbody id="demo_info" >
                            {% for e in empleados %}
                                <tr>
                                    <td> {{ e.codigoEmpleado }} </td>
                                    <td> {{ e.nombres }} </td>
                                    <td> {{ e.apellidoPaterno }} </td>
                                    <td> {{ e.apellidoMaterno }} </td>
                                    <td> {{ e.edad }} </td>
                                    <td> {{ e.fechaNacimiento }} </td>
                                    <td>{{ e.numeroSeguroSocial }}</td>
                                    <td> {{ e.curp }} </td>
                                    <td> {{ e.rfc }} </td>
                                    <td> {{ e.estadoCivil }} </td>
                                    <td> {{ e.nacionalidad }} </td>
                                    <td> {{ e.area.fase }}</td>
                                    <td> {{ e.area.puesto }} </td>
                                    <td> {{ e.telefono }} </td>
                                    <td> {{ e.celular }} </td>
                                    <td> {{ e.correoElectronico }} </td>
                                    <td> {{ e.direccion }} </td>
                                    <td> {{ e.ciudad }} </td>
                                    <td> {{ e.colonia }} </td>
                                    <td> {{ e.codigoPostal }} </td>
                                    <td> {{ e.estado }}</td>
                                    <td> {{ e.imagen }} </td>
                                    <td> {{ e.created_at }} </td>
                                    <td>
                                     

                                        <a href="{% url 'editarEmpleado' e.codigoEmpleado %}" class="badge badge-warning">EDITAR</a>
                                        <a href="{% url 'eliminarEmpleado' e.codigoEmpleado %}" class="badge badge-danger">DESACTIVAR</a>
                                        <a href="{% url 'credencial' e.codigoEmpleado %}" class="badge badge-info">CREDENCIAL</a>
                                        <a href="{% url 'reporte' e.codigoEmpleado %}" class="badge badge-info">Reporte</a>
                                        
                                    </td>
                         
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    {% else %}
                        <h1>NOT FOUND</h1>
                        </div>
                    {% endif %}
            </div>

        </div>
    </div>


    </html>
{% endblock contenido %}