{% extends 'indexAdmin.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <title>Surbananas - Reservar</title>
{% endblock title%}
{% block contenido %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Empleados</h6><br>
<!--                <input class="form-control border-bottom-primary" id="myInput" type="text" placeholder="Buscar...">-->

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if listaCapacitacion %}
                        <table id="dataTable" class="table table-striped table-bordered nowrap" style="width:100%">

                            <thead class=" text-primary">
                            <th>CodigoEmpleado</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Capacitaciones</th>
                            <th>Programas</th>
                            
                            

                            </thead>
                            <tbody id="demo-info">
                            {% for c in listaCapacitacion %}
                                <tr>
                                    <td> {{ c.empleado.codigoEmpleado}} </td>
                                    <td> {{ c.empleado}} </td>
                                    <td> {{ c.empleado.apellidoPaterno }} {{ c.empleado.apellidoMaterno }}</td>
                                    <td>{{c.nombreCapacitacion }}</td>
                                    <td>{{c.programas}}</td>
                                    
                                   {% comment %}  <td>
                                       
                                        <a href="{% url 'reporte' c.id %}" class="badge badge-warning">Reporte</a>
                                    </td> {% endcomment %}
                                   
                               
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>NOT FOUND</h1>
                        </div>
                    {% endif %}
            </div>

        </div>
    </div>


    </html>
{% endblock contenido %}