{% extends 'base.html' %}
{% block contenido %}

    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title ">Lista de Empleados</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  {% if empleados %}
                    <table class="table  table-condensed">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Nombres
                        </th>
                        <th>
                          Apellido Paterno
                        </th>
                        <th>
                          Apellido Materno
                        </th>
                        <th>
                            Edad
                        </th>
                        <th>
                            Fecha de Nacimiento
                        </th>
                      <th>
                            Número de Seguro Social
                        </th>
                      <th>
                            CURP
                        </th>
                      <th>
                            RFC
                        </th>
                      <th>
                            Estado Civil
                        </th>
                      <th>
                            Nacionalidad
                        </th>
                      <th>
                            Area
                        </th>
                      <th>
                            Labor
                        </th>
                      <th>
                            Telefono
                        </th>
                      <th>
                            Celular
                        </th>
                      <th>
                            Correo electronico
                        </th>
                      <th>
                           Drección
                        </th>
                       <th>
                           Ciudad
                        </th>
                       <th>
                           colonia
                        </th>
                       <th>
                           Fodigo Postal
                        </th>
                       <th>
                           Imagen
                        </th>
                      <th>
                           Fecha de Ingreso
                        </th>
                      <th>
                           Acciones
                        </th>

                      </thead>
                      <tbody>
                      {% for e in empleados %}
                        <tr>
                            <td> {{ e.id }} </td>
                            <td> {{ e.nombres }} </td>
                            <td> {{ e.apelidoPaterno }} </td>
                            <td> {{ e.apelidoMaterno }} </td>
                            <td> {{ e.edad }} </td>
                            <td> {{ e.fechaNacimiento }} </td>
                            <td> {{ e.numeroSeguroSocial }} </td>
                            <td> {{ e.curp }} </td>
                            <td> {{ e.rfc }} </td>
                            <td> {{ e.estadoCivil }} </td>
                            <td> {{ e.nacionalidad }} </td>
                            <td> {{ e.area }} </td>
                            <td> {{ e.labor }} </td>
                            <td> {{ e.telefono }} </td>
                            <td> {{ e.celular }} </td>
                            <td> {{ e.correoElectronico }} </td>
                            <td> {{ e.direccion }} </td>
                            <td> {{ e.ciudad }} </td>
                            <td> {{ e.colonia }} </td>
                            <td> {{ e.codigoPostal }} </td>
                            <td> {{ e.imagen }} </td>
                            <td> {{ e.created_at }} </td>
                            <td><a href="{% url 'editarEmpleado' e.id %}">Editar</a></td>



                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  {% else %}
                  <h1>NOT FOUND</h1>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock contenido %}