{% extends 'indexAdmin.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <title>Surbananas - Capacitaciones</title>
{% endblock title%}
{% block contenido %}
{% if planlist %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">LISTA PLAN DE CAPACITACION</h4><br>
            </div>

                <style>
                div.ex1 {
           
            height: 200px;
            width: 200px;
            overflow-y: scroll;
}
                              
                </style>
            <div class="card-body">
                <div class="table-responsive">
                        <button type="submit" hr></button>
                        <table id="example" class="table table-striped table-bordered">

                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>DIRIGIDO</th>
                            <th>OBJETIVO GENERAL</th>
                            <th>TEMA</th>
                            <th>OBJETIVO ESPECIFICO</th>
                            <th>CONTENIDO</th>
                            <th>TECNICAS</th>
                            <th>A QUIEN VA DIRIGIDO</th>
                            <th>DURACION</th>
                            <th>ACCIONES</th>
                           

                            </thead>
                            
                            <tbody id="myTable">
                            {% for plan in planlist %}
                                <tr>
                                    <td>{{plan.id}}</td>
                                    <td><div class="ex1">{{ plan.dirigido|safe}}</div></td>
                                    <td><div class="ex1">{{ plan.objetivoG|safe}} </div></td>
                                    <td><div class="ex1">{{plan.tema|safe}}</div></td>
                                    <td><div class="ex1">{{plan.objetivoe|safe}}</div></td>
                                    <td><div class="ex1">{{plan.contenido|safe}}</div></td>
                                    <td><div class="ex1">{{plan.tecnicas|safe}}</div></td>
                                    <td><div class="ex1">{{plan.dirigidoaquien|safe}}</div></td>
                                    <td><div class="ex1">{{plan.duracion|safe}}</div></td>
                                           

                                    
                                 
                                    <td>
                                        
                                        <a href="{% url 'eliminarPlanAnual' plan.id %}" class="badge badge-danger">ELIMINAR</a>
                                        <a href="{% url 'editarPlanAnual' plan.id %}" class="badge badge-warning">EDITAR</a>
                                        <a href="{% url 'PrintPlanAnual' %}" class="badge badge-success">IMPRIMIR</a>
                                    </td>
                                </tr> 
                            {% endfor %}
                            </tbody>
                        </table>
                
            </div>

        </div>
    </div>
{%endif%}

    </html>
{% endblock contenido %}