{% extends 'indexAdmin.html' %}
{% load static %}
{% block contenido %}
{% if reporte %}
{% for r in reporte  %}
                <div class="card my-3">
                        <div class="container-fluid">
                            <div class="row bg-info py-5">
                                <div class="col-3 mx-auto">
                                    <img class="rounded-circle img-fluid" style="margin-top: -2rem; margin-bottom: 1rem; max-width: 9rem;" src="{{r.empleado.imagen.url}}" alt="person">
                                </div>
                                <div class="col-12 text-center">
                                    <h3 style="color:white;"><strong>{{r.empleado.nombres}} {{r.empleado.apellidoPaterno}} {{r.empleado.apellidoMaterno}}</strong></h3> 
                                    <h4 style="color:white;"><strong>{{r.empleado.area.puesto}} en {{r.empleado.area.fase}} </strong></h3> 
                                </div>
                            </div>
                        
                            <div class="row mb-2 justify-content-center">
                                <div class="col-sm text-center">
                                    <i class="fas fa-calendar-week"></i>
                                    <br> Capacitaciones programadas
                                    
                                        
                                            <li>{{r.nombreCapacitacion}}</li>
                                        
                                    
                                    
                                    
                                    
                                </div>
                                <div class="col-sm text-center">
                                    <i class="fas fa-calendar-check"></i>
                                    <br> Capacitaciones terminadas
                                    <li>{{r.nombreCapacitacion}}</li>
                                    <li>nombre</li>
                                    <li>nombre</li>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{% else %}
   <li>No se encontro registros</li>
{% endif %}
{% endblock contenido %}