{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MigueAleman</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'IndexAdmin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'IndexAdmin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!--<link href="{% static 'IndexAdmin/css/w3.css' %}" rel="stylesheet">-->

    <link href="{% static 'IndexAdmin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css   ">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15">
               {#  <i class="fas fa-laugh-wink">Sur</i> #}
            </div>
            <div class="sidebar-brand-text mx-3">E.M.ALEMAN<sup>V.1.0</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
       
        
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                <i class="fas fa-city"></i>
                    <span>Labores</span>
            </a>
            <div id="collapse4" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Menú de Labores :</h6>
                    <a class="collapse-item" href="{% url 'crearArea' %}">Agregar Labores</a>
                    <a class="collapse-item" href="{% url 'listaAreas' %}">Listar Labores</a>
                </div>
            </div>
        </li>
        

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-plus"></i>
                <span>Empleados</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Menu Empleados:</h6>
                    <a class="collapse-item" href="{% url 'addEmpleado' %}">Agregar Empleado</a>
                    <a class="collapse-item" href="{% url 'lista' %}">Listar Empleado</a>
                    <a class="collapse-item" href="{% url 'eliminados' %}">Eliminados</a>
                    <a class="collapse-item" href="{% url 'listaReporte' %}">Reporte</a>
                </div>
            </div>
        </li>

         <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Registrar Temas</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Menu Temas:</h6>
                    <a class="collapse-item" href="{% url 'capacitaciones' %}">Agregar Temas</a>
                    <a class="collapse-item" href="{% url 'listaCapacitaciones' %}">Listar Temas</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                <i class="fas fa-calendar-alt"></i>
                    <span>Asignar Capacitaciones</span>
            </a>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Menú de Asignación :</h6>
                    <a class="collapse-item" href="{% url 'agregarCapacitacion' %}">Asignar Capacitacion</a>
                    <a class="collapse-item" href="{% url 'listaAsignacion' %}">Listar Capacitaciones</a>
                    <a class="collapse-item" href="{% url 'terminadas' %}">Capacitaciones terminadas</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#acta" aria-expanded="true" aria-controls="collapse3">
                <i class="fas fa-calendar-alt"></i>
                    <span>Crear Acta Admon.</span>
            </a>
            <div id="acta" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acta Administrativa :</h6>
                    <a class="collapse-item" href="{% url 'BuscarEmpleadoIncidencia' %}">Buscar Empleado</a>
                    
                </div>
            </div>
        </li>

        <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse4">
                    <i class="fas fa-city"></i>
                        <span>Plan Anual</span>
                </a>
                <div id="collapse9" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menú de Areas :</h6>
                        <a class="collapse-item" href="{% url 'crearplan' %}">Agregar Plan Anual</a>
                        <a class="collapse-item" href="{% url 'listarplan'%}">Lista Planes </a>
                        
                    </div>
                </div>
            </li>


      

       

      
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar aqui auqi -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                  

                    

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-blue-600 small" style="text-transform: uppercase;">!Bienvenido¡ | {{user}}</span>
                            <img class="img-profile rounded-circle" src="{% static 'IndexAdmin/img/equipo.png' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="http://localhost:8000/admin">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Configuración
                            </a>

                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{% url 'salir' %}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                {% block contenido %}
            {% endblock contenido %}


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Sur Bananera 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'IndexAdmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'IndexAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'IndexAdmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'IndexAdmin/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<!--<script src="{% static 'IndexAdmin/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'IndexAdmin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'IndexAdmin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!-- Page level custom scripts -->
<script src="{% static 'IndexAdmin/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'IndexAdmin/js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'IndexAdmin/js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'IndexAdmin/js/demo/tables.js' %}"></script>
<script src="{% static 'IndexAdmin/js/search.js' %}"></script>
<script src="{% static 'IndexAdmin/js/paginacion.css' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>






<script>
        $(document).ready(function() {
            var table = $('#tableEmpleados').DataTable( {
                lengthChange: false,
                buttons: ['copy','excel','csv',
        {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 6, 7, 11, 12, 14, 17, 18, 22 ]
            }
        },
    ]
            } );
         
            table.buttons().container()
                .appendTo( '#tableEmpleados_wrapper .col-md-6:eq(0)' );
        } );
         </script>


</body>
</html>